span.comment {
  font-style: italic;
  color: #808080;
}

span.type {
  color: #2B91AF;
}

span.constant {
  color: #800000;
}

span.number {
  color: #800000;
}

span.string {
  color: #800000;
}

span.keyword {
  color: #00008B;
}

span.identifier {
}

span.definition {
  color: #2B91AF;
  font-weight: bold;
}
